doctype html 
html 
    head 
        title ❤️Dhamaka Dance Acedamy 
        block scripts  
        block style 
    body 
        nav#navbar
            ul 
                div#logo 
                    img(src="/static/img/logo.png")

                    | DDA
                li #[a(href='/') Home] 
                li #[a(href='/') About]  
                li #[a(href='/') Services] 
                li #[a(href='/') Class Info] 
                li #[a(href='/contact') Contact Us]       
        block content    
        footer#footer
            | Copyright  © 2023 DhamakaDanceAcedamy | All right reserved 
